// ------------------desktop styling----------------------------


.about-us {
    width: 100%;
    height: 80vh;

    .inner-container {
        width: 100%;
        height: 100%;


        .left-section {
            width: 50%;
            height: 100%;
            background-color: #fff;
            position: relative;

            .about-us-image {
                width: 90%;
                height: 70%;
                background-color: red;
                position: absolute;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .right-section {
            width: 50%;
            height: 100%;

            position: relative;

            .about-us-blurb {
                width: 80%;
                height: 90%;
                border: 2px solid $accent-color;
                text-align: left;
                


                h1 {
                    font-size: 2rem;
                    padding: 1.5rem;
                    width: 100%;
                    text-align: center;
                }

                p {
                    width: 60%;
                    line-height: 1.2rem;
                    margin: 0 auto;
                    font-size: 1.2rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
        }
    }
}











@media (min-width:320px) and (max-width:767.98px) {


    .main-container {

.about-us {
    width: 100%;
    height: auto;


   .inner-container {
       width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;

       .left-section {
           width: 100%;
           height: 30vh;


           .about-us-image {
               width: 100%;
           }
       }

       .right-section {
           width: 100%;
           height: auto;

           .about-us-blurb {
               position: relative;
               width: 95%;
               margin: 10px 0px 10px 0px;
            
            h1 {
                font-size: 1.2rem;
                padding: 1.5rem;
            }

            p {
                width: 95%;
                padding-bottom: 30px;
            }

           }
       }
   }


}


}

}



@media (min-width:768px) and (max-width:1024px) {

    .main-container {

        
        
        .about-us {
            width: 100%;
            height: auto;
          
            

            .inner-container {
                width: 100%;               
                display: flex;
            flex-direction: column-reverse;
           

            .left-section {
                width: 100%;
                height: 40vh;

                .about-us-image {
                    width: 100%;
                    height: 100%;
                }
            }

            .right-section {
                width: 100%;
                height: 70vh;
                
                .about-us-blurb {
                    width: 95%;
                    height: 95%;
                    padding: 1rem;

                    h1 {
                        font-size: 2.5rem;
                        position: relative;
                        left: 0;
                        top: 10px;
                    }
 
                    p {
                        width: 90%;
                        font-size: 1.5rem;
                        position: relative;
                        top: 20px;
                        line-height: 1.2rem;
                    }
 
                }
            }
                
            }
        }
    }
}



@media (min-width:1024px) and (max-width:1440px) {

    .main-container {

        
        
        .about-us {
            width: 100%;
            height: 90vh;
          
            

            .inner-container {
                width: 100%;               

           

            .left-section {
                width: 80%;
                height: 100%;

                .about-us-image {
                    width: 95%;
                    height: 95%;
                    position: relative;
                    left: 10px;

                    img {
                        object-position: -300px 0px;
                    }
                }
            }

            .right-section {
                width: 100%;
                height: auto;
                
                .about-us-blurb {
                    width: 95%;
                    height: 95%;
                    padding: 1rem;

                    h1 {
                        font-size: 2rem;
                        position: relative;
                        left: 0;
                        top: -10px;
                    }
 
                    p {
                        width: 90%;
                        font-size: 1rem;
                        position: relative;
                        line-height: 1.2rem;
                        top: -10px;
                    }
 
                }
            }
                
            }
        }
    }
}